<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDiFZXIe9fDhUyzOIICvhQ3KEaMWLga65A</string>
	<key>GCM_SENDER_ID</key>
	<string>284285511432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PawPal.org</string>
	<key>PROJECT_ID</key>
	<string>project-pawpal</string>
	<key>STORAGE_BUCKET</key>
	<string>project-pawpal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284285511432:ios:87ce67b7dda0efccdf2ebd</string>
</dict>
</plist>